/* general rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/bgweb.png);
  /* width: 50%; margin:auto; */
}

.mainwrapper {
 width: 1280px;
 width: 50%; margin:auto;
}
/* end general rules */

/* header rules */

header .container-logo {
  padding: 10px;
  background: white;
}

header .container-logo .logo {
  background-image: url(../img/img-header.jpg);
  background-size: cover;
  height: 200px;
  position: relative;
  text-align: center;
}

header .logo .title {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header .logo .title .title-site {
  font-size: 50px;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

#subtitle-site {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

/* menu rules */
.menu {
  background-color: #504741;
}

header .menu ul {
  list-style-type: none;
  width: 50%; margin:auto;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  height: 43px;
  color: white;
  text-align: center;
  padding: 10px
}

header .menu li {
  display: inline;
  padding: 10px;
}
/* end menu rules */

/* end header rules */

/* main rules */
main::after {
  content: " ";
  display: table;
  clear: both;
}

main {
  margin: 10px 0;
}

main .col {
  float: left;
}

main .right,
main .left {
  width: 30%;
}

main .middle {
  width: 38%;
  margin: 0 1%;
}
/* end main rules */

/* left column */
main .left .pages-list {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}

main .left .pages-list .pages-title{
  font-size: 19px;
  margin: 5px;
  font-family: fantasy;
}

main ul {
  list-style-type: none;
}

main li {
  margin: 7px;
  padding: 6px;
  color: green;
  font-family: cursive;
}

main .archives {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}

main .left .archives .archives-title{
  font-size: 19px;
  margin: 5px;
  font-family: fantasy;
}

main .meta {
  background: white;
  padding: 20px;
}

main .meta .title-meta{
  font-size: 19px;
  margin: 5px;
  font-family: fantasy;
}
/* end left column */

/* middle column */
main .middle .middle-article {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
}

main .middle .middle-article .title-middle{
  color: #828282;
  font-size: 25px;
  padding: 17px;
  font-family: serif;
}
/* end middle column */

/* right column */

main .searchbox {
  background: white;
  padding: 20px;
}

main .tag-section {
  background: white;
  padding: 20px;
  margin-top: 10px;
}

main .tag-section .tag-cloud {
  font-size: 19px;
  margin: 5px;
  font-family: fantasy;
}

/* footer rules */
footer {
  width: 100%;
  background: white;
}

footer .footer-text {
  text-align: center;
  padding: 20px;
  margin: 3px;
}

/*** NOTE: footer incomplete ***/


/* end footer rules */
